src/conf/xml-resources/web-service-references/AdministradorWebService/wsdl/192.168.1.5_8080/GestionBiblioteca_Servicios/AdministradorWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="AdministradorLogin" type="tns:AdministradorLogin"/>

<xs:element name="AdministradorLoginResponse" type="tns:AdministradorLoginResponse"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:complexType name="AdministradorLogin">
<xs:sequence>
<xs:element name="Correo" type="xs:string" minOccurs="0"/>
<xs:element name="Clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdministradorLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:administrador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="administrador">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>